
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero{
    height: 65vh;
    background-color: rgb(240, 240, 240);
  
}

nav{
    display: flex;
   justify-content: center;
   padding: 0 50px;
  
    
}


ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: rgb(48, 50, 51);
}

nav , .logo {
    margin-right:auto;
  
 
}

.logo{
    padding: 5px;
    width: 80px;
}

.content {
    display: flex;
    
    justify-content: space-around;
    margin-top: 40px;
   
    
}


button{
    padding: 10px 30px;
    border-radius: 15px;
    border: solid 2px;


}

.left{
    max-width: 350px;
   flex-shrink: 0;
}




.hero-img {

    border-radius: 10px;
height: 300px;


}

.boxes{
   
    display: flex;
    justify-content: center;
    
    padding: 0px;
    gap: 52px;
    
}

.box {
  
    display: flex;
    max-width: 200px;
    height: 200px;
    border-radius: 1rem;
    border: solid rgb(116, 116, 116);
   

}

h2{
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 2rem;
}

.text {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
}


.box p {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
    height: 300px;
    text-align: center;
}